astor==0.8.1
beautifulsoup4==4.10.0
brotli==1.0.9
cffi==1.15.0
chardet==4.0.0
coverage==6.3.1
curio==1.5
Flask==2.0.2
ipython==8.0.1
jedi==0.18.1
pandas==1.4.1
protobuf==3.19.4
pylint==2.12.2
pytest==7.0.1
python_bcrypt==0.3.2
PyVirtualDisplay==2.2
setuptools==58.1.0
simplejson==3.17.6
speedups==1.0.0
trustme==0.9.0
typing_extensions==4.1.1
unicodedata2==14.0.0
selenium==4.1.0
google-cloud-storage
lxml
googletrans==4.0.0-rc1
pyautogui
python-xlib
pymongo
psutil
unidecode
pyarrow
fastparquet